PAAS3/bluemix.json
[{"id":"6724d524.0230ec","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"6a3ada60.74b924","type":"ibmiot in","z":"6724d524.0230ec","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"senseHat","eventType":"senb080027c95dae","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":0,"x":143.5,"y":291,"wires":[["b455dd8.f58fe2","d163033f.5429f","16e2c75e.a05379","31c54bed.581344"]],"l":false},{"id":"b455dd8.f58fe2","type":"debug","z":"6724d524.0230ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":294.5,"y":399,"wires":[],"l":false},{"id":"fa2c2e49.a383f","type":"ui_gauge","z":"6724d524.0230ec","name":"","group":"23f3b4ff.16104c","order":1,"width":0,"height":0,"gtype":"gage","title":"Suhu","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":557.5,"y":222,"wires":[],"l":false},{"id":"27abe14a.1dbc5e","type":"ui_gauge","z":"6724d524.0230ec","name":"","group":"23f3b4ff.16104c","order":2,"width":0,"height":0,"gtype":"gage","title":"Kelembapan","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":557.5,"y":301,"wires":[],"l":false},{"id":"695a036a.51eb3c","type":"ui_gauge","z":"6724d524.0230ec","name":"","group":"23f3b4ff.16104c","order":3,"width":0,"height":0,"gtype":"gage","title":"Tekanan","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":571.5,"y":355,"wires":[],"l":false},{"id":"d163033f.5429f","type":"function","z":"6724d524.0230ec","name":"Suhu","func":"msg.payload=msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":459.5,"y":237,"wires":[["fa2c2e49.a383f"]],"l":false},{"id":"16e2c75e.a05379","type":"function","z":"6724d524.0230ec","name":"Kelembapan","func":"msg.payload=msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":434.5,"y":279,"wires":[["27abe14a.1dbc5e"]],"l":false},{"id":"31c54bed.581344","type":"function","z":"6724d524.0230ec","name":"Tekanan","func":"msg.payload=msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":449.5,"y":326,"wires":[["695a036a.51eb3c"]],"l":false},{"id":"ef640476.6e3918","type":"ui_button","z":"6724d524.0230ec","name":"","group":"23f3b4ff.16104c","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160.5,"y":139,"wires":[[]],"l":false},{"id":"23f3b4ff.16104c","type":"ui_group","z":"","name":"Default","tab":"7af017bb.e33f98","order":1,"disp":true,"width":"6","collapse":false},{"id":"7af017bb.e33f98","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false}]