PAAS3/flows.json
[{"id":"3c60e575.af827a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b1b11140.4e4ef","type":"inject","z":"3c60e575.af827a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":97,"y":94,"wires":[["6d728554.78e17c"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"3c60e575.af827a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":521,"y":119,"wires":[]},{"id":"6d728554.78e17c","type":"function","z":"3c60e575.af827a","name":"Send My text","func":"msg.payload=\"Selamat Berkenalan. Nama saya Node-Red.\";\nmsg.topic=\"Hello Node-Red\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":326.5,"y":170,"wires":[["f2f2649a.0d0d98","8ac6fc85.eeff7"]],"l":false},{"id":"8ac6fc85.eeff7","type":"e-mail","z":"3c60e575.af827a","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"bunnyrabbani47@gmail.com","dname":"send my text","x":556.5,"y":239,"wires":[],"l":false}]