PAAS3/raspberrypi.json
[{"id":"8e557a30.029078","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e9e13f4c.da2f7","type":"rpi-sensehatsim in","z":"8e557a30.029078","name":"","motion":false,"env":true,"stick":false,"x":100,"y":140,"wires":[["ab9a33da.8c15b"]]},{"id":"866f3221.d339a","type":"function","z":"8e557a30.029078","name":"","func":"msg.payload = {\"Data\" : {\"Environment\":msg.payload}};\nmsg.deviceType=\"senseHat\";\nmsg.deviceId=\"senb080027c95dae\";\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["4c214663.833f48","a5aebf25.6030f"]]},{"id":"ab9a33da.8c15b","type":"delay","z":"8e557a30.029078","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":340,"y":140,"wires":[["866f3221.d339a"]]},{"id":"a5aebf25.6030f","type":"debug","z":"8e557a30.029078","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":140,"wires":[]},{"id":"4c214663.833f48","type":"wiotp out","z":"8e557a30.029078","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"ff85993e.796ba8","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":690,"y":220,"wires":[]},{"id":"ff85993e.796ba8","type":"wiotp-credentials","z":"","name":"","org":"1gdqtq","serverName":"","devType":"raspberrypiGW","devId":"080027c95dae","keepalive":"60","cleansession":true,"tls":"","usetls":false}]